@font-face {
	font-family: 'Aloevera-OvoWO';
    src: url('../resources/Aloevera-OVoWO.ttf') format('ttf'),
	url('../resources/Aloevera-OVoWO.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
	font-display: swap;
}	

html{
	font-family: 'Aloevera-OvoWO';


}
input[type=number]{
	height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    width: 3rem;
    text-align: center;
}
body {
	background-image: url("../resources/bg_green.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
}
#title{
	font-size: 26px;
	line-height: 75px;
	color: white;
}

.menu-object{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 75px;
	font-size: 16px;
	margin-top: 10px;
}

p{
	text-align: center;
}

button.menu-object:active{
	font-size: 18px;
	width: 275px;
	height: 70px;
}

button.menu-object:hover:not(:active){
	font-size: 22px;
	width: 325px;
	height: 85px;
}

button {
	--border: 5px;    /* the border width */
	--slant: 0.7em;   /* control the slanted corners */
	--color: #ffffffd2; /* the color */
	
	font-size: 35px;
	padding: 0.4em 1.2em;
	border: none;
	cursor: pointer;
	font-weight: bold;
	color: var(--color);
	background: 
	   linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
	   linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
	background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
	background-repeat: no-repeat;
	box-shadow:
	  0 0 0 200px inset var(--s,#0000),
	  0 0 0 var(--border) inset var(--color);
	clip-path: 
		polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
				100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
			   );
	transition: color var(--t,0.3s), background-size 0.3s;
  }
  button:focus-visible {
	outline-offset: calc(-1*var(--border));
	outline: var(--border) solid #000c;
	clip-path: none;
	background-size: 0 0;
  }
  button:hover,
  button:active{
	background-size: 100% 100%;
	color: #fff;
	--t: 0.2s 0.1s;
  }
  button:active {
	--s: #0005;
	transition: none;
  }